.hero_cover {
  display: flex;
  width: 100vw;
  height: 950px;
  justify-content: center;
  background-color: #f0f0f2;
  align-items: center;

  .left_hero_section {
    flex-basis: 600%;
    height: 40%;
    width: 60%;
    align-items: center;
    justify-content: flex-end;
    .left_cover {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: auto;
      h2 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 96px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 26px;
        color: #0b1c39;
      }
      p {
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        line-height: 1.6;
        font-weight: 400;
        margin-bottom: 39px;
        color: #212025;
        margin-bottom: 60px;
        padding-right: 50px;
      }
      button {
        padding: 18px 29px;
        background: #4a4a4b;
        color: white;
        font-family: "Josefin Sans", sans-serif;
        font-size: 20px;
        border: none;
        &:hover {
          background-color: rgb(255, 0, 0);
        }
      }
    }
  }
  .right_hero_section {
    flex-basis: 400%;
    .hero_img_cover {
      height: 950px;
      width: 100%;
      overflow: hidden;
      img {
        margin: -40px 0px 0px 50px;
      }
    }
  }
}
