.shop_cover {
  height: 400px;
  text-align: center;
  background-image: url("https://i.ibb.co/LRvjnZH/about-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    line-height: 400px;
    font-size: 80px;
  }
}
.products_cover {
  display: flex;
  width: 1180px;
  margin: 50px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: 786px) {
    width: 100vw;
    padding: 0 60px;
  }
}
.filters {
  margin: 25px auto;
  display: flex;
  justify-content: center;

  button {
    border: none;
    margin: 0 25px;
    padding: 18px 29px;
    background: #4a4a4b;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    border: none;
    &:hover {
      background: red;
      border: none;
    }
    &:focus {
      border: none;
    }
    &:checked {
      border: none;
    }
  }
}
