.header_cover {
  display: flex;
  width: 100vw;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  .links {
    ul {
      list-style: none;
      display: flex;
      li {
        padding: 25px;
        a {
          color: black;
          text-decoration: none;
          font-family: "Josefin Sans", sans-serif;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
  }
  .icons {
    ul {
      list-style: none;
      display: flex;
      li {
        padding: 25px 20px;
        a {
          color: black;
        }
      }
    }
  }
}
.cart_count {
  background-color: red;
  color: white;
  padding: 4px;
  font-size: 12px;
  border-radius: 50px;
  position: absolute;
  top: 20px;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
}
