.sidebar_cover {
  display: flex;
  position: fixed;
  width: 100vw;
  background: rgba(0, 0, 0, 0.363);
  height: 100vh;
  top: 0;
  right: 0;
  .side_bar_left {
    flex-basis: 60%;
  }
  .side_bar_right {
    flex-basis: 40%;
    background: white;
    .header_text {
      margin: 30px 10px;
      display: flex;
      justify-content: space-around;
      span {
        cursor: pointer;
      }
    }
  }
}
