.single_item_cover {
  width: 1180px;
  margin: 50px auto;
  text-align: center;
  h2 {
    font-size: 65px;
    line-height: 2em;
  }
  p {
    font-family: "Roboto";
    color: black;
    line-height: 1.5;
  }
  h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    line-height: 2;
  }
}
